---
layout: nil
---

<!DOCTYPE html>
<html lang="en">
<!--[if IE 7]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="en"><![endif]-->
<!--[if !IE]><html lang="en"><![endif]-->
<head>
	<meta charset="utf-8">
	<script src="/js/lib/modernizr.js"></script>
	
	<!-- The title of your site -->
	<title>Nick Holland</title>
	
	<!-- Always make sure to check the robots tag -->
	<meta name="robots" content="index, nofollow">
	<meta name="description" content="Portfolio Website of the Industrial Designer Nick Holland">
	<meta name="keywords" content="Nick Holland, Industrial Design, Portfolio, Polypropylene Lamp, Cardboard Chair, Toothbrush, Toothbrush Design, Artbrush, Paintbrush, Industrial Designer, Injection Molded Toothbrush">
	
	<!-- Essential viewport settings -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<!-- Essential stylesheets -->
	<link rel="stylesheet" href="/css/loader.css">
	<link rel="stylesheet" href="/css/lib/essentials.css">
	<link rel="stylesheet" href="/css/lib/YTPlayer.css">
	<link rel="stylesheet" href="/css/lib/font-awesome.min.css">
	<link rel="stylesheet" href="/css/lib/magnific-popup.css">
	<link rel="stylesheet" href="/css/lib/jquery.bxslider.css">
	
	<!-- Main stylesheet -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/colors/green.css">
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="/images/favicon.png">
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="nobg">
	<!-- Preloader -->
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>

	<!-- Home fullbody autoplay background video -->
	<div id="home" class="home-wrap video">
		<div class="home-content text-white">

			<!-- Logo and text -->
			<h1 class="bigtext letterspace uppercase bold no-margin">Nick Holland</h1>
			<h6 class="bigtext serif italic margin-bottom">Industrial Design</h6>

			<!-- Home menu -->
			<ul class="home-menu">
				<li>
					<a href="/#work" class="smoothscroll">
						<i class="fa fa-asterisk"></i>
						<b>Products</b>
					</a>
				</li>
				<li>
					<a href="/#about" class="smoothscroll">
						<i class="fa fa-user"></i>
						<b>About</b>
					</a>
				</li>
				<!--
				<li>
					<a href="#contact" class="smoothscroll">
						<i class="fa fa-envelope"></i>
						<b>Contact</b>
					</a>
				</li>
				-->
			</ul>
		</div>
	</div>

	<!-- Background with youtube video -->
	<div class="video-container">
		<a id="video" class="fullscreen-video" data-property="{videoURL:'J3-oFuiqzjA'}">The Video</a>
	</div>

	<!-- Video controls -->
	<div class="video-controls">
		<button class="small-play-btn" onclick="jQuery('#video').playYTP()"><i class="fa fa-play"></i></button>
		<button class="small-pause-btn" onclick="jQuery('#video').pauseYTP()"><i class="fa fa-pause"></i></button>
	</div>

	<!-- Background image to display when the video doesn't play anymore -->
	<div style="background-image: url('/images/Cover-Photo.jpg');" class="fullscreen-img"></div>

	<!-- Menu -->
	<div class="main-menu fixedmenu">
		<div class="menu-wrap">
			<!-- Your symbolic or typographic logo -->
			<h1><a href="/#home" class="smoothscroll">Nick Holland</a></h1>

			<!-- The menu toggle -->
			<input type="checkbox" id="toggle" />
			<label for="toggle" class="toggle"></label>

			<!-- The menu items -->
			<ul class="menu">
				<li><a href="/#home" class="smoothscroll">Home</a></li>
				<li><a href="/#work" class="smoothscroll">Products</a></li>
				<li><a href="/#about" class="smoothscroll">About</a></li>
				<!-- <li><a href="#contact" class="smoothscroll">Contact</a></li> -->
			</ul>
		</div>
	</div>

	<!-- Introduction text -->
	<section id="introduction" class="introduction">
		<div class="row">
			<div class="ten columns center">

				<!-- The title -->
				<div class="title">
					<h1>More Than Meets The Eye</h1>
				</div>

				<!-- Text and a button -->
				<p class="big thin">"I believe design is more than just the shell of an object, more than just manipulation of aesthetics. It's deeper than that. Design is the power to change someone's mood in an instant, inform people without ever talking them, and build things nobody has ever seen before. What I do, as a designer, is take this more-than-meets-the-eye mentality and apply it to industrial products. I strive to bring logic, efficiency, and clean, readable forms to all of my designs." - Nick Holland</p>
				<p><a href="/#work" class="button outline smoothscroll">View my work</a></p>
			</div>
		</div>
	</section>

	<!-- Featured work -->
	<section id="work" class="featured-work">

		<!-- The title -->
		<div class="row">
			<div class="twelve columns title">
				<h1>The Latest Product From Nick Holland</h1>
			</div>
		</div>

		<!-- Featured work slider -->
		<div class="featured-work-slider">
			<ul class="bxslider" id="featured-work-slider">
				<!-- Slide 1 -->
				<li>
					<div style="background-image: url('{{ site.posts.first.slide1-image }}')" class="header">
						<div class="header-center">
							<div class="centerdiv text-white">
								{% if page.slide1-text %}<h4 class="bigtext uppercase letterspace bold">{{ site.posts.first.slide1-text }}</h4>{% endif %}
							</div>
						</div>
					</div>
				</li>

				<!-- Slide 2 -->
				<li>
					<div style="background-image: url('{{ site.posts.first.slide2-image }}')" class="header">
						<div class="header-center">
							<div class="centerdiv text-white">
								{% if page.slide2-text %}<h4 class="bigtext uppercase letterspace bold">{{ site.posts.first.slide2-text }}</h4>{% endif %}
							</div>
						</div>
					</div>
				</li>

				<!-- Slide 3 -->
				<li>
					<div style="background-image: url('{{ site.posts.first.slide3-image }}')" class="header">
						<div class="header-center">
							<div class="centerdiv text-white">
								{% if page.slide3-text %}<h4 class="bigtext uppercase letterspace bold">{{ site.posts.first.slide3-text }}</h4>{% endif %}
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<!-- Intro text -->
		<div class="row">
			<div class="ten columns center">
				<h2 class="text-color">Details About The Pure Nylon Artbrush</h2>
				<p class="big thin">{{ site.posts.first.intro }}</p>
			</div>
		</div>

		<!-- 3 Columns -->
		<div class="row">
			<!-- Column 1 -->
			<div class="four columns">
				<p><i class="fa fa-circle-o icon huge"></i></p>
				<h4>The Brief</h4>
				<p align="justify">{{ site.posts.first.brief }}</p>
			</div>

			<!-- Column 2 -->
			<div class="four columns">
				<p><i class="fa fa-adjust icon huge"></i></p>
				<h4>The Idea</h4>
				<p align="justify">{{ site.posts.first.idea }}</p>
			</div>

			<!-- Column 3 -->
			<div class="four columns">
				<p><i class="fa fa-circle icon huge"></i></p>
				<h4>The Solution</h4>
				<p align="justify">{{ site.posts.first.solution }}</p>
			</div>
		</div>
	</section>

	<!-- More work -->
	<section id="more-work" class="more-work">
		<div class="row">
			<div class="ten columns center margin-bottom">
				<!-- The title -->
				<div class="title">
					<h1>More Products</h1>
				</div>
			</div>
		</div>
		
		<!-- Thumbnails -->
		<div class="row margin equal">
			{% for post in site.posts %}
				{% if post.title == site.posts.first.title %}
				<div class="four columns medium-six columns small-twelve columns fade-it">
					<div class="portfolio-thumb">
						<a href="{{ site.baseurl }}{{ post.url }}">
							<img src="{{ post.product-image }}" alt="placeholder-thumbnail">
							<i class="fa fa-plus-square-o"></i>
							<b>{{ post.title }}</b>
						</a>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>

	<!-- About me -->
	<section id="about" class="about">

		<!-- About header -->
		<div style="background-image: url('images/Header-3.jpg')" class="header">
			<div class="header-center">
				<div class="centerdiv text-white">
					<!-- Text on the header -->
					<h4 class="bigtext uppercase letterspace bold">Meet Nick</h4>
				</div>
			</div>
		</div>

		<!-- Circle avatar -->
		<img src="images/Headshot.jpg" alt="placeholder-avatar" class="about-avatar">

		<!-- About introduction -->
		<div class="row">
			<div class="ten columns center margin-bottom">
				<p class="big thin">Nick Holland is an undergraduate student in Industrial Design at Iowa State University. His focus is on advanced model making and prototyping with an aim towards clean and sustainable design. When he’s not in class, he teaches both the introduction drawing studio and the introduction design studio as a teacher’s assistant. In his spare time, he practices glassblowing as a trained gaffer at the Iowa State University Gaffer’s Guild.</p>
			</div>
		</div>
		<!-- 3 Columns -->
		<div class="row">

			<!-- Column 1 -->
			<div class="four columns">
				<h4>Top Skills</h4>
				<p align="justify">Product design, graphic design, Adobe Creative Suite, sketching, drawing, photography, marker rendering, CAD Rendering (Solidworks &amp; Keyshot), rapid prototyping, 3D modeling, woodworking, laser cutting, foam modeling, web design, 3D printing, material identification, glassblowing and more.</p>
			</div>

			<!-- Column 2 -->
			<div class="four columns">
				<h4>A Different Perspective</h4>
				<p align="justify">In the Summer of 2013, Nick traveled around Europe and studied abroad for a semester in Rome. While in Rome, he became fully immersed in European culture, literally living in an Italian apartment and working in an Italian design studio for several months. While there, he learned the importance of minimal living and minimal design in modern culture.</p>
			</div>

			<!-- Column 3 -->
			<div class="four columns">
				<h4>Whereabouts</h4>
				<p align="justify">Nick currently spends the majority of his time in Ames, Iowa studying Industrial Design at Iowa State University. During breaks, he travels back to his family home in Springboro, Ohio. He likes to travel whenever possible. Nick currently works as an undergraduate research assistant for Iowa State University's Industrial Design Program. </p>
			</div>
		</div>
	</section>

	<!-- Contact -->
	<!-- The contactform 
	<section id="contact" class="contact">
		<div class="row">
			<div class="ten columns center">
				<h2 class="text-color">Getting In Touch</h2>
				<p class="big thin">If you would like to contact Nick Holland leave him a message using the form below. He will respond as soon as possible.</p>
			</div>
		</div>
		<div class="row">

			<div class="twelve columns">
				<div id="message"></div>
			</div>

		</div>
		<div class="row">

			<form method="post" action="contact.php" name="contactform" id="contactform">
				<fieldset>
					<div class="six columns">
						<label for="name" accesskey="U"><i class="fa fa-user"></i></label>
						<input name="name" type="text" id="name" size="30" value="" />

						<label for="email" accesskey="E"><i class="fa fa-envelope-o"></i></label>
						<input name="email" type="text" id="email" size="30" value="" />

						<label for="phone" accesskey="P"><i class="fa fa-phone"></i></label>
						<input name="phone" type="text" id="phone" size="30" value="" />
					</div>
					<div class="six columns">
						<label for="comments" accesskey="C"><i class="fa fa-comment"></i></label>
						<textarea name="comments" id="comments"></textarea>

						<label for="verify" accesskey="V">3 + 1 =</label>
						<input name="verify" type="text" id="verify" size="4" value="" class="input-verify" />

					</div>
					<div class="twelve columns">

						<input type="submit" class="submit" id="submit" value="Send message" />

					</div>
				</fieldset>
			</form>
		</div>
	</section>
-->

	<!-- Credits and bottom -->
	<section class="credits transparant">
		<div class="row">
			<div class="twelve columns">
				<p>Nick Holland &copy; 2015</p>
			</div>
		</div>
	</section>

	<!-- Javascript -->
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/jquery.fittext.js"></script>
	<script src="/js/lib/jquery.magnific-popup.min.js"></script>
	<script src="/js/lib/jquery.bxslider.min.js"></script>
	<script src="/js/lib/jquery.sticky.js"></script>
	<script src="/js/lib/jquery.equal.js"></script>
	
	<!-- Basic functions -->
	<script src="/js/main.js"></script>
	
	<!-- Specific functions for this page -->
	<script src="/js/lib/jquery.mb.YTPlayer.js"></script>
	<script src="/js/index.js"></script>
	
	<!-- Scripts for the skills slider -->
	<script src="/js/lib/jquery.touchswipe.min.js"></script>
	<script src="/js/lib/jquery.caroufredsel.min.js"></script>
	
	<!-- <script src="/js/skills-slider.js"></script> -->

	<!-- Preloader -->
	<script type="text/javascript">
		//<![CDATA[
		$(window).load(function() { // makes sure the whole site is loaded
			$('#status').fadeOut(); // will first fade out the loading animation
				$('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
			$('body').delay(350).css({'overflow-y':'visible'});
		})
		//]]>
	</script>
</body>
</html>